@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format('woff2');
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#contact_page h1{
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: #1F2421;
    padding: 70px;
    margin-top: 0px;    
}

#contact_page form{
    text-align: center;
    border: 2px green solid;
}

#contact_page input[type="email"] {
    width: 415px;
}

#contact_page input[type="text"]{
    width: 200px;
}
#contact_page footer{
    color: #49A078;
    padding: 0.75rem;
    background-color:#1F2421;
    clear: both;
    position: absolute;
    left: 0px;
    bottom: -200px;
    width: 100%;
}
#contact_page #container{
    display: flex;
    justify-content: space-around;
}
#contact_page .items{
    padding: 10px 30px;
    text-align: center;
}
