@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format('woff2');
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title {
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: #1F2421;
    padding: 70px;
    margin: 0   

}

.gallery {
    display: flex;
    height: 300px;
    justify-content: space-around;
}

.photo {
    margin-top: 2px;
    width: 33%;
    height: 100%;
    background-color: #49A078;
    position: relative;
}

.photo p {
    margin: 0;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
    z-index: 3;
}



