@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format('woff2');
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title {
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: #1F2421;
    padding: 70px;
    margin: 0   

}

.gallery {
    display: flex;
    height: 300px;
    justify-content: space-around;
}

.photo1 {
    margin-top: 2px;
    width: 33%;
    height: 100%;
    background-image: url(/assets/images/save_earth.jpg);
    background-size: cover;
    position: relative;
}

.photo2 {
    margin-top: 2px;
    width: 33%;
    height: 100%;
    background-image: url(/assets/images/planting.jpg);
    background-size: cover;
    position: relative;
}

.photo3 {
    margin-top: 2px;
    width: 33%;
    height: 100%;
    background-image: url(/assets/images/cleaningup_image.png);
    background-size: cover;
    position: relative;
}

form {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}