@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format('woff2');
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#profile_page section{
    text-align: center;
}
#profile_page h1{
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: #1F2421;
    padding: 70px;
    margin-top: 0px;    
}
#profile_page footer{
    color: #49A078;
    padding: 0.75rem;
    background-color:#1F2421;
    clear: both;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
