@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format('woff2');
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#about_page footer, #setting footer{
    color: #49A078;
    padding: 0.75rem;
    background-color:#1F2421;
    clear: both;
    position: absolute;
    left: 0px;
    bottom: -600px;
    width: 100%;
}

#about_page h2, #setting h2 {
    font-size: 35px;
}

#setting h2 {
    color: white;
}

#about_page p{
    font-size: 20px
}

#about_page h1, #setting h1{
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: #1F2421;
    padding: 70px;
    margin-top: 0px; 
    bottom: -600px;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.content img {
    flex: 0 0 40%;
    height: auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#setting input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    border: 1px solid gray;
    padding: 10px;
    font-style: italic;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    width: 500px;
}


#setting .help {
    padding: 10px;
    width: auto;
    border-radius: 8px;
    margin-top: -750px;
    margin-left: 800px;
    color: white;
    position: absolute;
    
}

#setting form {
    text-align: center;
    color: white;
    margin-top: -600px;
    background-size: cover;
    position: relative;
    background-color: rgb(34, 32, 32);
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px 0px 50px 0px;
    border-radius: 50px;

}

#setting label {
    font-size: 25px;
    text-align: left;
    display: block;
    margin-bottom: 8px;
    margin-left: 100px;
}

#setting input {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    margin-left: 100px;
}

#main_title {
    text-align: center;
}


#setting{
    background-color: rgb(22, 22, 22);
}

input[type="submit"] {
    width: 250px;
    background-color: white;
    color: black;
    padding: 15px;
    margin-top: 50px;
}

#setting .side_image{
    position: absolute; 
    margin-top: -350px;
    margin-left: 1200px;
}

#setting .pipe_image {
    position: absolute; 
    margin-top: -650px;
    margin-left: 1270px;
}

#setting .rain_drop {
    position: absolute; 
    margin-top: -515px;
    margin-left: 1258px;
    animation-name: moveWaterPlant;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;


}

#setting .plant1 {
    position: absolute;
    margin-left: 850px;
    margin-top: -440px;
}

#setting .plant2 {
    position: absolute;
    margin-left: 980px;
    margin-top: -300px;
}

@keyframes moveWaterPlant {
    0% {
        transfrom: translate(0, 0);
    }

    100% {
        transform: translate(0, 130px);
    }
}

.allImages p {
    color: white;
    font-size: 10px;
}