body {
    margin: 0;
    font-family: Roboto, serif;
}

a {
    text-decoration: none;
    color: #49A078;
}

/* Navigation bar */

.navigation_bar {
    background-color: #1F2421;
    padding: 1rem;
}

.navigation_dividers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_elements {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation_elements li {
    margin: 0.5rem;

}

.navigation_elements input[type="search"] {
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact_page h1{
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: #1F2421;
    padding: 70px;
    margin-top: 0px;    
}

#contact_page form{
    text-align: center;
    border: 2px green solid;
}

#contact_page input[type="email"] {
    width: 415px;
}

#contact_page input[type="text"]{
    width: 200px;
}
#contact_page footer{
    color: #49A078;
    padding: 0.75rem;
    background-color:#1F2421;
    clear: both;
    position: absolute;
    left: 0px;
    bottom: -200px;
    width: 100%;
}
#contact_page #container{
    display: flex;
    justify-content: space-around;
}
#contact_page .items{
    padding: 10px 30px;
    text-align: center;
}
#profile_page section{
    text-align: center;
}
#profile_page h1{
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: #1F2421;
    padding: 70px;
    margin-top: 0px;    
}
#profile_page footer{
    color: #49A078;
    padding: 0.75rem;
    background-color:#1F2421;
    clear: both;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
